<%= simple_form_for [@restaurant, @review] do |f| %>
  <div class="form-inputs">
    <%= f.input :content, placeholder: "Write your review" %>
    <%= f.input :rating, placeholder: "Add a rating (1-5)" %>
  </div>

  <div class="form-actions">
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  </div>
<% end %>
